# DOCKER
DOCKER_DATABASE_PORT="5432"
DOCKER_DATABASE_NAME="ks3ckc"
DOCKER_DATABASE_USERNAME="ks3ckc"
DOCKER_DATABASE_PASSWORD="ks3ckc"

# PUBLIC CONFIG
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
# Use the following environment variables to show the environment name.
NEXT_PUBLIC_DEV_ENV_NAME="staging"
NEXT_PUBLIC_DEV_ENV_COLOR_SCHEME="teal"
# Configure demo mode (read only)
NEXT_PUBLIC_IS_DEMO="false"

# DATABASE
DATABASE_URL="postgres://${DOCKER_DATABASE_USERNAME}:${DOCKER_DATABASE_PASSWORD}@localhost:${DOCKER_DATABASE_PORT}/${DOCKER_DATABASE_NAME}"

# AUTH
AUTH_SECRET="Replace me with `openssl rand -base64 32` generated secret"

# EMAILS
EMAIL_SERVER="smtp://username:password@0.0.0.0:1025"
EMAIL_FROM="KS3CKC <noreply@ks3ckc.radio>"

# LOGGER
LOGGER_LEVEL="info"
LOGGER_PRETTY="true"

NEXT_PUBLIC_CLOUDLOG_API_URL="http://localhost/index.php/api"
NEXT_PUBLIC_CLOUDLOG_API_KEY="yourapikeyhere"
